@model Hotel.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<script src="~/dist/Chart.min.js"></script>
<script src="~/utils.js"></script>

<link rel="stylesheet" href="~/css/style-admin.css" type="text/css" media="all">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Current In House</div>
                    <div class="card-body">@Model.ReservedRooms</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <div class="card-body">Rooms</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Expected Arrivals</div>
                    <div class="card-body">@Model.ExpectedRoomsArrivals</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <div class="card-body">Rooms</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Expected Departures</div>
                    <div class="card-body">@Model.ExpectedRoomsDepartures</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <div class="card-body">Rooms</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">End Of Day</div>
                    <div class="card-body">@Model.RoomsEndOfDay</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <div class="card-body">Rooms</div>
                    </div>
                </div>
            </div>
        </div>

        <partial name="_CtartsPartial" />

        <partial name="_ReservationsPartial" model="@Model.AllReservations" />

    </div>
</main>
